# MakeCode / Micro:bit generated folders
built
node_modules
yotta_modules
yotta_targets
pxt_modules
.pxt
_site

# MakeCode temporary files
*.db
*.tgz
.header.json
.simstate.json

# System files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Temporary files
*.tmp
*.log
